{% extends "base.html" %}

{% block title %}
  КиберСпот. О нас
{% endblock %}

{% block content %}
  <h3 class="pb-2 mb-0" style="text-align: center;">О нас</h3>
  <div class="card">
    <p style="text-align: center;">Мы компьютерный клуб <br><b>КиберСпот</b><br> 
      — сообщество энтузиастов, объединённых любовью к видеоиграм и технологиям.
      Наша цель — создать дружелюбную атмосферу для игроков всех уровней,
      где каждый может найти единомышленников и улучшить свои навыки.</p>
  </div>

  <h4>
    Количество довольных клиентов:  <b style="font-size: 40px;">{{ total_count }}</b>
  </h4>

  <h3 class="pb-2 mb-0" style="text-align: center;">Наша миссия</h3>
  <div class="card">
    <p style="text-align: center;">Мы стремимся предоставить нашим членам доступ к современным игровым технологиям,
      организовывать турниры и мероприятия,
      а также обучающие сессии по различным аспектам гейминга и программирования.</p>
  </div>

  <h3 class="pb-2 mb-0" style="text-align: center;">Контакты</h3>
  <div class="card">
    <p>Если у вас есть вопросы или вы хотите присоединиться к нашему клубу,
      пожалуйста, свяжитесь с нами.<br>
      Электронная почта: <a href="mailto:info@cyberspot.com">info@cyberspot.com</a><br>
      Телефон стойки администрации: <a href="tel:+79991234567">+7 (999) 123-45-67</a>
    </p>
  </div>
{% endblock %}