{% extends "base.html" %}
{% load static %}

{% block title %}
  КиберСпот. Профиль.
{% endblock %}

{% block content %}
{% if user.is_authenticated and view_user == user.username %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-4 text-center">
        <img src="{{ user.img_path.url }}" alt="Фото пользователя" class="img-fluid mb-3 profile-img">
      </div>
      <div class="col-md-8">
          <h2>{{ user.username }}</h2>
          {% if user.first_name %}
              <p><strong>Имя:</strong> {{ user.first_name }}</p>
          {% endif %}
          {% if user.last_name %}
              <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
          {% endif %}
          {% if user.phone_num %}
              <p><strong>Номер телефона:</strong> {{ user.phone_num }}</p>
          {% endif %}
          <p><strong>Email:</strong> {{ user.email }}</p>
          {% if user.date_of_birth %}
              <p><strong>Дата рождения:</strong> {{ user.date_of_birth }}</p>
          {% endif %}
          <a href="{% url 'users:edit' user.username %}" class="btn btn-warning">Изменить профиль</a>
        </div>
    </div>
  </div>
{% else %}
  {% include "includes/none_page.html" %}
{% endif %} 

{% endblock %} 