{% extends "base.html" %}
{% load static %}

{% block title %}
  КиберСпот. Профиль.
{% endblock %}

{% block content %}
{% if user.is_authenticated and view_user == user.username %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-4 text-center">
        <img src="{{ user.img_path.url }}" alt="Фото пользователя" class="img-fluid mb-3 profile-img">
      </div>
      <div class="col-md-8">
        <h2>{{ user.username }}</h2>
        {% if user.first_name %}
            <p><strong>Имя:</strong> {{ user.first_name }}</p>
        {% endif %}
        {% if user.last_name %}
            <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        {% endif %}
        {% if user.phone_num %}
            <p><strong>Номер телефона:</strong> {{ user.phone_num }}</p>
        {% endif %}
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% if user.date_of_birth %}
            <p><strong>Дата рождения:</strong> {{ user.date_of_birth }}</p>
        {% endif %}
        <a href="{% url 'users:edit' user.username %}" class="btn btn-warning" style="background-color:#3899c9;border-color:#3899c9;">Изменить профиль</a>
      </div>
  </div>
</div>
<div class="container mt-4">
  <h2>Ваши сессии</h2>
  <table class="table">
    <thead>
      <tr style="text-align:center;">
        <th scope="col">Номер сессии</th>
        <th scope="col">Время начала сессии</th>
        <th scope="col">Время окончания сессии</th>
        <th scope="col">Тип услуги</th>
        <th scope="col">Оборудование</th>
      </tr>
    </thead>
  <tbody>
    {% for session in page_obj %}
      <tr  style="text-align:center;">
        <td>{{ session.id }}</td>
        <td>{{ session.start_time }}</td>
        <td>
          {% if session.end_time %}
            {{ session.end_time }}
          {% else %}
            Сессия не закончена
          {% endif %}
        </td>
        <td>{{ session.service_id }}</td>
        <td>{{ session.equipment_id }}  {{ session.service_id.pk }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center">Нет результатов для отображения.</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  {% include "includes/paginator.html" %}
</div>
{% else %}
  {% include "includes/none_page.html" %}
{% endif %} 

{% endblock %} 