{% load static %}

<div class="col-6 col-md-4 my-1">
    <div class="card">
      <img 
        class="img-fluid card-img-top" 
        height="250" width="250"
        src="{% static equip.img_path %}"
      >
      <div class="card-body">           
        <h5 class="card-title">{{ equip.type }} {{ equip.id }}</h5>
        <div class="card-text truncate-text" id="truncate-text-{{ equip.id }}" data-target="truncate-text-{{ equip.id }}">{{ equip.installed_apps_and_games }}</div>
        <button class="mt-0 regular-link toggle-button" data-target="truncate-text-{{ equip.id }}">Показать все игры</button>
      </div>
    </div>
  </div>