{% load static %}

<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url "homepage:index" %}">
        <img src='{% static "img/logo.png" %}' width="30" height="30" class="d-inline-block align-top" alt="">
        КиберСпот
      </a>        
      <ul class="nav  nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url "homepage:index" %}">
            Лента новостей
          </a>
        </li>
        <li class="nav-item">              
          <a class="nav-link" href="{% url "about:description" %}">
            О нас
          </a>
        </li>
      </ul>      
    </div>
  </nav> 
</header>